@import url('https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap');

body {
    background-color: #eaeded;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-color {
    background-color: #131921;
    border-color: #131921;
}

.no_padding{
    padding-right: 0px;
    padding-left: 0px;
}

.width_col_md_3{
    width: 16%;
}

.toggal_line{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px -5px;
}

.navbar-brand.sb_tgl {
    border: 1px solid #6c6b6b;
    border-radius: 3px;
    height: 40px;
    margin: 10px 0px 0px -12px;
    padding: 7px 0px 0px 8px;
    width: 34px;
}

.navbar-brand.sb_tgl:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.navbar-brand.sb_logo {
    height: 40px;
    margin: 10px 0px 10px 6px;
    padding: 7px 0px 0px 0px;
    width: 130px;
}

.navbar-brand.sb_logo:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.sb_search_bar{
    margin-top:10px;
}

.sb_search_drop{
   height:40px;
}

.search_drop_bg_color{
    background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.search_btn_bg{
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 45px;
    border-radius: 0 4px 4px 0;
    font-size: 21px;
}

.search_bar_width{
   width: 56.333%;
}

.dropbtn {
    background-color: #131921;
    color: white;
    border: none;
    cursor: pointer;
    width: 65px;
    margin-left: -20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.dropdown span{
    display: inline-block;
}

.dropdown-content:before {
    position: absolute;
    top: -7px;
    right: 162px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom-color: #fff;
    content: '';
}

.dropdown-content:after {
    position: absolute;
    top: -7px;
    right: 162px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -150px;
    background-color: #f9f9f9;
    min-width: 215px;
    border: 1px solid #dfdede;
    border-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border: 1px solid white;
    border-radius: 3px;
    width: 65px;
    margin-left: -20px;
}

/*select on image from multiple image group */
.icp-nav-flag.icp-nav-flag-us {
    background-position: 0 -130px;
}
.icp-nav-flag {
    width: 24px;
    position: relative;
    display: inline-block;
    height: 18px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../../assets/img/flagallcountry.png');
}
/* end the css code*/

.p_change_lng{
    display: block;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
}

.signup_account:hover{
    border: 1px solid white;
    border-radius: 3px;
}

.acc_txt_1{
    font-size: 12px;
    font-weight: 400;
    color:white;
}

.acc_txt_2{
    font-size: 14px;
    font-weight: 700;
    color:white;
}

.signup_account {
    width: 130px;
    margin-top: 9px;
    padding: 0px 0px 0px 10px;
}

.signup_content_card{
    display: none;
    position: absolute;
    width: 470px;
    right: -117px;
    background-color: white;
    border: 1px solid #dfdede;
    border-radius: 3px;
    margin-top: 1px;
    z-index: 99999;
}

.signin_block{
    position: relative;
}

.signin_block:hover .signup_content_card{
    display: block;
}

.signup_content_card:before {
    position: absolute;
    top: -7px;
    right: 69px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom-color: #fff;
    content: '';
}

.new_cus_p span{
    display: inline-block;
}

.signin_link, .signin_link:link {
    display: block;
    height: 33px;
    margin: 10px 0px 0 180px;
    cursor: pointer;
    text-decoration:none !important;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    border-radius: 3px 3px 3px 3px;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    background: -webkit-linear-gradient(top,#f8e3ad,#EEBA37);
    text-align: center;
    font-family: inherit;
    line-height: 30px;
    font-size: 13px;
    width: 121px;
}

.sign_in_btn{
    color: #111;
    display: block;
    text-align: center;
}

.new_cus_p {
    margin-left: 178px;
    font-size: 11px;
    margin-top: 4px;
}

.signin_cln_padding{
    margin-left: 10px;
    margin-top: 15px;
}

.signin_clm_heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.signin_clm_link{
    position: relative;
    display: block;
    clear: both;
    font-family: inherit;
    line-height: 16px;
    padding: 0 0 7px;
    margin: 0;
    text-decoration: none;
}

.link_signin_text{
    display: block;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
}

.return_div {
    margin-top: 10px;
}

.cart_icon{
    position: absolute;
    width: 38px;
    height: 26px;
    background-position: -10px -340px;
    left: 18px;
    background-image: url('../../assets/img/iconbundle.png');
    background-repeat: repeat-x;
    margin-top: 9px;
}
.cart_icon_div {
    margin-top: 10px;
}

#nav-cart-count{
    color: #f08804;
    top: 7px;
}

.nav-cart-0{
    left: 31px;
    top: 9px;
    font-size: 16px;
    width: 19px;
}

.nav-cart-count{
    font-weight: 700;
    font-family: inherit;
    position: absolute;
    line-height: 30px;
    text-align: center;
}

.cart_txt_2{
    font-size: 14px;
    font-weight: 700;
    color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 39px;
}

/* second nav css start*/
.second_nav {
    background-color: #232f3e;
}
.location_icon{
    position: absolute;
    width: 22px;
    height: 22px;
    background-position: -68px -340px;
    left: 18px;
    background-image: url('../../assets/img/iconbundle.png');
    background-repeat: repeat-x;
    margin-top: 9px;
}

.loc_div:hover{
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
}

.loc_text{
    margin-left: 25px;
}

.s_nav_links{
    margin: 4px 0 0px;
    height: 37px;
    overflow: hidden;
    padding: 6px 0 0 0;
}

.s_links{
    padding: 7px 8px 7px 8px;
    margin: 1px 2px 12px 1px;
    color: #ccc;
    text-decoration: none !important;
}
.s_links:hover{
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    color: #ccc;
    padding: 7px 8px 7px 8px;
    margin: 1px 2px 12px 1px;
}

.s_msg_div{
    margin: 4px 0px 0px 60px;
    height: 37px;
    overflow: hidden;
    padding: 6px 0 0 0;
}

.s_msg_link{
    padding: 7px 8px 7px 8px;
    margin: 1px 2px 12px 1px;
    color: #ccc;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: 700;
}

.s_msg_link:hover{
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    color: #ccc;
    padding: 7px 8px 7px 8px;
    margin: 1px 2px 12px 1px;
}

/* second nav css end*/

/* Slider section css start*/
#myCarousel\ homeslider {
    max-height: 260px;
}


/* slider section css end*/

/*section div*/
.d_card {
    background-color: white;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 2px;
    height: 420px;
    min-height: 420px;
}

.d_card h3{
    font-size: 21px !important;
    line-height: 27.3px !important;
    font-weight: 700;
}

.text_contain {
    text-align: center;
}

.shop_now_div {
    margin-top: 95px;
}

.shop_now_img{
    margin-top: 56px;
}

.shop_now_img_3 {
    margin-top: 100px;
}

.section_container{
    margin-top: 25px;
}

.image_contain{
    position: relative;
    width: 280px;
    overflow: hidden;
}

.img_dv{
    width: 94%;
}

.signin_btn {
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 6px 85px 6px 96px;
    color: black;
}

.signin_div {
    margin-top: 20px;
}
/*section div css end*/


/*section carousel css start*/
.sec_dis_carousel {
    background-color: white;
}

.MultiCarousel { 
    float: left;
    overflow: hidden;
    padding-left: 15px;
    width: 100%;
    position: relative;
    padding-right: 15px;
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
     text-align: center; margin:10px;  color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
     font-weight: bold;color: #605d5d; position:absolute; top:calc(44% - 20px); 
}
.MultiCarousel .leftLst { 
    left:15px; border-right-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel .rightLst { 
    right:15px; border-left-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
     font-weight: bold;color: #605d5d; pointer-events: none; background:#fff; 
}

.btn-discover-carousel {
    color: #fff;
    background-color: #fff;
    height: 82px;
    width: 35px;
}

.discover_title {
    float: left;
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 25px;
}
.dis_text_1.second_click {
    margin-top: 27px;
    margin-left: 12px;
    color: #5569d7;
    font-weight: bold;
}
/*section carousel css end */

/* second carousel css start*/
.MultiCarousel2 { 
    float: left;
    overflow: hidden;
    padding-left: 15px;
    width: 100%;
    position: relative;
    padding-right: 15px;
}
.MultiCarousel2 .MultiCarousel-inner2 { 
    transition: 1s ease all; float: left; 
}
.MultiCarousel2 .MultiCarousel-inner2 .item2 { 
    float: left;
}
.MultiCarousel2 .MultiCarousel-inner2 .item2 > div {
     text-align: center; margin:10px;  color:#666;
}
.MultiCarousel2 .leftLst2, .MultiCarousel2 .rightLst2 {
     font-weight: bold;color: #605d5d; position:absolute; margin-top: 4%; 
}
.MultiCarousel2 .leftLst2 { 
    left:15px; border-right-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel2 .rightLst2 { 
    right:15px; border-left-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel2 .leftLst2.over, .MultiCarousel2 .rightLst2.over {
     font-weight: bold;color: #605d5d; pointer-events: none; background:#fff; 
}
.btn-discover-carousel2 {
    color: #fff;
    background-color: #fff;
    height: 82px;
    width: 35px;
}
/* second carousel css end*/

/*third carousel css start*/
.MultiCarousel3 { 
    float: left;
    overflow: hidden;
    padding-left: 15px;
    width: 100%;
    position: relative;
    padding-right: 15px;
}
.MultiCarousel3 .MultiCarousel-inner3 { 
    transition: 1s ease all; float: left; 
}
.MultiCarousel3 .MultiCarousel-inner3 .item3 { 
    float: left;
}
.MultiCarousel3 .MultiCarousel-inner3 .item3 > div {
     text-align: center; margin:10px;  color:#666;
}
.MultiCarousel3 .leftLst3, .MultiCarousel3 .rightLst3 {
     font-weight: bold;color: #605d5d; position:absolute; margin-top: 4%; 
}
.MultiCarousel3 .leftLst3 { 
    left:15px; border-right-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel3 .rightLst3 { 
    right:15px; border-left-color: #c6c3c3;border-bottom-color: #c6c3c3;
}
.MultiCarousel3 .leftLst3.over, .MultiCarousel3 .rightLst3.over {
     font-weight: bold;color: #605d5d; pointer-events: none; background:#fff; 
}
.btn-discover-carousel3 {
    color: #fff;
    background-color: #fff;
    height: 82px;
    width: 35px;
}

/*third carousel css end*/

/* After carousel start css */
.center_div {
    text-align: center;
}
.gift_text_botm {
    color: #444;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
}

.signinbtn {
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 6px 85px 6px 96px;
    color: black;
}
/* after carousel end css*/

.center_div_back_top{
    text-align: center;
    background-color: #37475a;
    height:45px;
    color : white
}
.back-to-top {
    padding-top: 12px;
}

/* first footer section css start*/
.first-footer-sec{
    background-color: #232f3e;
}
.footer-clm-heading{
    font-family: inherit;
    font-weight: 700;
    color: #FFF;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap;
    padding-top: 50px;
}

.footer-ul {
    text-align: revert;
    list-style-type: none;
    margin-left: -40px;
}
.footer-link {
    color: white;
}
.footer-li {
    margin: 0 0 6px;
}

.footer-line{
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}

.footer-lg-img {
    text-align: right;
}

.container.footer-after-clm {
    padding-top: 35px;
    padding-bottom: 30px;
}



.footer-globe-img {
    position: absolute;
    width: 14px;
    height: 14px;
    background-position: -77px -24px;
    left: 18px;
    background-image: url('../../assets/img/flagallcountry.png');
    background-repeat: repeat-x;
    margin-top: 6px;
}

.footer-strip-a-1{
    float: left;
    width: 15%;
    border: 1px aliceblue solid;
    border-radius: 3px;
    padding: 2px 0px 2px 28px;
    color: white;
    margin-right: 5px;
}
.footer-strip-a-2{
    float: left;
    width: 23%;
    border: 1px aliceblue solid;
    border-radius: 3px;
    padding: 2px 0px 2px 11px;
    color: white;
    margin-right: 5px;
}
.footer-strip-a-3{
    float: left;
    width: 23%;
    border: 1px aliceblue solid;
    border-radius: 3px;
    padding: 2px 0px 2px 19px;
    color: white;
    display: flex;
}

.footer-flag-img{
    width: 14px;
    height: 14px;
    background-position: -54px -108px;
    background-image: url('../../assets/img/flagallcountry.png');
}

/* first footer section css end*/

/*second footer section css start */
.second-footer-sec {
    background-color: #131a22;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-sec-clm-heading{
    font-size: 11px !important;
    text-align: left;
    line-height: 115%;
    color:white;
    margin-bottom: 20px;
}
.sec-title-foo {
    font-size: 10px;
    line-height: 110%;
    color: #999;
}
.fir-title-foo {
    color: white;
}
/* second footer section css end */



























